<template>
    <div>
        <lightning-datatable
                key-field="id"
                hide-checkbox-column="true"
                data={data}
                columns={columns}
                onrowaction={handleRowAction} >
        </lightning-datatable>
    </div>
</template>