<template>
    <lightning-record-view-form
            record-id={recordId}
            object-api-name="Case">
        <div class="slds-box" style="background-color: white;">
            <div class="slds-grid">
                <lightning-button variant="brand" label="Escaneo interplanetario" icon-name="utility:loop" title="Escaneo interplanetario" onclick={handleClick}></lightning-button>
            </div>

            <template for:each={fields} for:item="field">
                <div key={field.apiName}>
                    <lightning-output-field field-name={field.apiName}></lightning-output-field>
                </div>
            </template>
        </div>
    </lightning-record-view-form>
</template>